/**
 * Typography
 */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet');

%rubik {
  font-family: $font-family;
}

.rubik {
  @extend %rubik;
}

a {
  color: currentColor;
  text-decoration: $link-decoration;
  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

h1,.h1, h2, .h2, h3,.h3, h4, .h4 {
  margin: auto auto auto 0;
  line-height: 1.5;
  color: $navy;
}

h3, .h3,
h4, .h4 {
  font-weight: $text-regular;
}

h2, .h2 {
  font-weight: $text-light;
}

h1,
.h1 {
  font-size: rem-calc(12);
  line-height: 20px;
  line-height: 1.42857142857143;
  font-weight: $text-medium;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  @include screen-lg-up {
    font-size: rem-calc(14);
  }
}

h2,
.h2 {
  font-size: rem-calc(36);
  line-height: 52px;
  line-height: 1.23809523809524;

  @include screen-lg-up {
    font-size: rem-calc(42);
  }
}

h3,
.h3 {
  font-size: rem-calc(18);
  line-height: 52px;
  line-height: 2.36363636363636;
  @include screen-lg-up {
    font-size: rem-calc(22);
  }
}

%h4 {
  font-size: rem-calc(18);
  line-height: 27px;
  line-height: 1.22727272727273;

  @include screen-lg-up {
    font-size: rem-calc(22);
  }
}

h4,
.h4 {
  @extend %h4;
}

p, .p, td, li, dd, dt, address {
  font-size: rem-calc(14);
  line-height: 28px;
  line-height: 1.75;

  @include screen-lg-up {
    font-size: rem-calc(16);
  }
}

p, li, td, th, a, dt, dd, span {
  font-size: rem-calc(16);
  line-height: 28px;
  line-height: 1.75;
}

p, li, td, th, dt, dd {
  color: #4C5874;
}

p {
  font-weight: $text-regular;
}