/**
 * resources Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.page-template-template-consultation {

  main .content > .container:first-of-type {
    padding-top: rem-calc(200);
    padding-bottom: rem-calc(176);
  }

  .vac {
    &:after {
      width: 1px;
      background-color: $silver;
    }
  }

  .vac__content {
    display: flex;
    text-align: left;

    p {
      font-weight: $text-light;
    }
  }

  .vac__content__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin-left: 0;
  }

  .vac__content__title {
    margin-bottom: rem-calc(13);
    padding-bottom: 0;
    @extend %rubik;
    @extend %gradient-text;
    font-size: rem-calc(42);
    line-height: 52px;
    line-height: 1.23809523809524;
    font-weight: $text-light;
    text-transform: initial;

    &:after {
      content: initial;
      position: initial;
    }
  }

  .vac__button {
    margin-bottom: 0;
  }

  .button {
    @extend %btn;
    font-size: rem-calc(15);
    line-height: 18px;
    line-height: 1.2;
    letter-spacing: 1px;

    &[data-type] {
      padding-right: $padding-xsmall;
      padding-left: $padding-xsmall;
    }
    &[data-type="woman"] {
      margin-left: $padding-xsmall;
    }

    &.active {
      background-color: $grey;
      fill: $black;
      color: $black;
    }
  }

  .vac__background svg {
    width: auto;
    max-height: rem-calc(367);
  }

}
