/**
 * team-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-team-grid {
  margin-top: $padding-small;
  margin-bottom: $padding-medium;

  @include screen-lg-up {
    margin-top: $padding-medium;
    margin-bottom: $padding-large;
  }

  .team-grid__heading {
    display: inline-flex;
    @extend %underlined;
    @extend %gradient-text;
    margin-bottom: rem-calc(29);
  }

  [data-backgrounder] {
    min-height: rem-calc(299);
    width: 100%;
  }

  [data-magnific] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .team-grid__items {
    display: flex;
    flex-wrap: wrap;
    width: calc( 100% + #{$grid-column-padding*4} );
  }

  .team-grid__item {
  }

  .team-grid__thumb__figure {
  }

  .team-grid__thumb__caption,
  .team-grid__thumb__image {
    width: calc( 100% - #{$grid-column-padding*2} );
    margin-right: $grid-column-padding;
    margin-left: $grid-column-padding;
  }

  .team-grid__thumb__image {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    min-height: rem-calc(299);
    align-items: center;
    list-style: none;
    background-size: cover;
    background-color: #D8D8D8;
  }

  .team-grid__thumb__title {
    @extend %gradient-text;
    margin-top: rem-calc(17);
    line-height: 34px;
    line-height: 1.54545454545455;
    text-align: left;
  }

  .team-grid__thumb__caption {
    text-align: left;

    h3 {
      margin-top: rem-calc(20);
    }

    p {
      margin-top: 0;
      font-size: rem-calc(16);
      font-weight: $text-light;
      line-height: 22px;
      line-height: 1.375;
    }
  }

}
