/**
 * Button Styles
 */
%btn {
  display: flex;
  border: none;
  margin: auto 0;
  padding: #{rem-calc(17)} #{rem-calc(56)};
  border-radius: 200px;
  background-color: $teal;
  color: $white;
  outline: none;
  font-weight: $text-medium;
  font-size: rem-calc(14);
  line-height: 17px;
  line-height: 1.21428571428571;
  text-transform: uppercase;
  box-shadow: none;

  &:hover, &:active, &:focus {
    background-color: lighten($teal, 25%);
  }
}

%btn--secondary {
  background-color: $royal;

  &:hover, &:active, &:focus {
    background-color: $navy;
  }
}

.btn,
input[type="submit"],
button {
  @extend %btn;

  &.btn--muted {
    color: $grey;
    svg {
      fill: $grey;
    }
  }
}