.form-skin {

}

.gform_wrapper {
  @include flexible();
}

.gform_fields {
  list-style: none;

  .gfield {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 1 auto;
    @include screen-lg-up {
      padding-left: $grid-column-padding;
      padding-right: $grid-column-padding;
    }
  }
}

.gform_heading {
  @extend %header;
  font-weight: $text-light;
  margin-bottom: rem-calc(28);
}

.gform_supertitle {
  @extend %supertitle;
}

.gform_title {
  @extend %title;
}

.gform_body {
}

.gform_description {
  margin-bottom: $padding-small;
  font-size: rem-calc(16);
  color: #3f3f3f;
  line-height: 25px;
  line-height: 1.5625;

  @include screen-lg-up {
    margin-bottom: $padding-medium;
  }
}

.gfield_checkbox {
  list-style: none;
  margin: $padding-xsmall/2 auto;

  li {
    display: flex;
    align-items: center;
  }
}

.gfield_error {
  input,
  textarea {
    border-color: $danger-color;
  }
}

.ginput_container {
  width: 100%;
}

.validation_error {
  color: $danger-color;
  background-color: $danger-background;
  border: 1px solid $danger-border;
  padding: 10px;
  margin: 15px 0;
}

.validation_message {
  color: $danger-color;
}

//Placeholders
@mixin placeholder {
  font-weight: $text-regular;
  color: $lavender;
}

/*Dev Notes:
They are non-standard syntax and thus, these cannot be stacked!
An extension will not work in this case. It seems to be ignored on compile
*/
::-webkit-input-placeholder {
  @include placeholder;
} /* Chrome/Opera/Safari */

::-moz-placeholder {
  @include placeholder;
}/* Firefox 19+ */

:-moz-placeholder {
  @include placeholder;
}/* Firefox 18- */

:-ms-input-placeholder {
  @include placeholder;
} /* IE 10+ */
