.form-skin {

}

.gform_wrapper {
  @include flexible();

  .gform_heading {
    margin: auto;
  }

}

.gform_fields {
  list-style: none;

  .gfield {
    width: 100%;
    flex: 0 1 auto;
    @include screen-lg-up {
      padding-left: $grid-column-padding;
      padding-right: $grid-column-padding;
    }
  }
}

.gform_heading {
  @include flexible();
  width: 66.66666667%;
  max-width: 565px;
  flex: 0 0.66 auto;
  margin: auto;
  text-align: center;
}

.gform_supertitle {
  padding-top: 229px;
  margin: auto;
  color: $silver;
}

.gform_title {
  @extend %h0;
  margin: auto auto 12px auto;
}

.gform_body {
  width: 50%;
  flex: 0 0.5 auto;
}

.gform_description {
  margin-bottom: $padding-small;
  font-size: rem-calc(16);
  color: #3f3f3f;
  line-height: 25px;
  line-height: 1.5625;

  @include screen-lg-up {
    margin-bottom: $padding-medium;
  }
}

.gfield_error {
  input,
  textarea {
    border-color: $danger-color;
  }
}

.validation_error {
  color: $danger-color;
  background-color: $danger-background;
  border: 1px solid $danger-border;
  padding: 10px;
  margin: 15px 0;
}

.validation_message {
  color: $danger-color;
}
