.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

//These are necessary
//values come from icomoon
.icon-LiftedLogic {
  width: rem-calc(102);
  position: absolute;
  align-self: center;
  right: rem-calc(20);
  clip: rect(0,102px,16px,75px);
  top: rem-calc(6);
  transform: scale(1.5);
}

.icon-google-plus {
  width: 1.2861328125em;
}

.icon-facebook {
  width: 0.59375em;
}

.icon-instagram {
  width: 0.84375em;
}

.icon-pinterest {
  width: 0.71875em;
}

.icon-twitter {
  width: 0.9375em;
}

.icon-youtube {
  width: 0.84375em;
}
