/**
 * Post
 *   Used on single post pages
 */

.post {
  max-width: 937px;
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;

  @include screen-lg-up {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
}

.post__content {

  figure, p, li, time, dd, caption, td {
    margin-top: 0;
    margin-bottom: $padding-small;
    font-weight: 300;
  }

}
