/**
 * social list Styles
 * ----------------------------------------------------------------------------
 *
 * List of linked social icons. Icons are created within the svg system
 *
 */

.social-list {
  display: inline-flex;
  font-size: 1em;
  text-align: center;
  list-style: none;
  margin-left: rem-calc(-10);

  .navbar & {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 0.75em;

    @include screen-xs {
      display: none;
    }
  }
}

.social-list__item {
  display: inline-flex;
  margin: auto;
  font-size: rem-calc(16);
}

.social-list__link {
  position: relative;
  height: 2.057em;
  border: none;
  text-align: center;
  opacity: 0.7;
  display: inline-flex;
  padding: 0.625rem;

  &:hover {
    opacity: 1;
    color: $white;
  }
}

.social-list__link .icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
}
