/**
 * Post
 * Used on single post pages
 */

.thumbnail {
  position: relative;
  width: rem-calc(50);
  height: rem-calc(50);
  display: flex;
  margin: rem-calc(15);
  border-radius: 200px;
  background-color: transparent;

  .feature {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}