/**
 * image-w-caption Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-image-w-caption {
  position: relative;
  overflow: visible;
  height: 66.6667vh;
  max-height: 575px;
  margin-top: $padding-medium;
  margin-bottom: calc( 20vh + #{$padding-large});

  * {
    color: $white;
  }

  .image-w-caption__caption {
    position: absolute;
    bottom: -20vh;
    left: 8.333333%;
    z-index: 1;
    padding: #{rem-calc(64)} #{rem-calc(96)};
    background-color: $teal;

    @include screen-lg-only {
      left: 12.5%;
    }

    p, li, dd {
      font-weight: $text-light;

      &:last-child {
        margin-bottom: auto;
      }

    }

    a {
      display: inline-block;
      text-decoration: underline;
    }

  }

}
