/**
 * image-slider Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-image-slider {
  position: relative;
  padding-bottom: $padding-medium;

  @include screen-lg-up {
    padding-bottom: $padding-large;
  }

  .image-slider__supertitle {
    @extend %supertitle;
  }

  .image-slider__heading {

    h2, h3, h4, h5, h6 {
      @extend %gradient-text;
    }

    h1 + h2 {
      @extend %title
    }

    h2 {
      display: inline-flex;

      &:first-child {
        @extend %underlined;
      }
    }

    p {
      font-weight: $text-light;
    }

    &:last-child {
      margin-bottom: $padding-small;
    }
  }

  .image-slider__slides {
    position: relative;
    display: block;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .image-slider__slide {

    img {
      max-width: 938px;
      max-height: 525px;
      margin: auto;
    }
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-initialized .slick-slide {
    display: block;

    &[aria-hidden="true"] {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  .image-slider__slick-prev,
  .image-slider__slick-next {
    position: absolute;
    top: -262.5px;
    width: rem-calc(33);
    height: rem-calc(33);
    padding: rem-calc(11);
    font-size: rem-calc(10);
  }

  .image-slider__slick-prev {
    left: 0;
  }

  .image-slider__slick-next {
    right: 0;
  }
}
